body{
    background-color:#E9D5DA;
}
.heading{
    display: flex;
    justify-content: center;
    font-family: 'Sriracha', cursive;
}
h1{
    font-family: 'Sriracha', cursive;
    font-size: 60px;
    background: linear-gradient(to left,#22c1c3,#fdbb2d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.container{display: flex;}
.one{
    background-image: url('https://images.unsplash.com/photo-1652120633797-4bd8acb99e0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    }
.two{
    background-image: url('https://images.unsplash.com/photo-1630631038935-faa8d43e2f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
}
.three{
    background-image: url('https://images.unsplash.com/photo-1645037201328-de8b1b048993?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
}
.four{
    background-image: url('https://images.unsplash.com/photo-1506953823976-52e1fdc0149a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
    }
.five{
    background-image: url('https://images.unsplash.com/photo-1614095557130-2f4a9e1da57d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=501&q=80');
    }
.six{
    background-image: url('https://images.unsplash.com/photo-1509407336566-fca158fddcce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
}
.item{
    height: 90vh;
    background-size: cover;
    background-position: center;
    font-size: 10px;
    font-family: 'Sriracha', cursive;
    margin: 5px;
    position: relative;
    flex: 1;
}
h4{
    position: absolute;
    top: 15px;
    left: 40px;
    background-color: #DFF6FF;
    color: #4B5D67;
}
.par{
    position: absolute;
    top: 100px;
    left: 20px;
    background-color:#DFF6FF ;
    color: #4B5D67;
}
.price{
    position:absolute;
    top: 300px;
    left: 40px;
    background-color: #DFF6FF;
    color:#4B5D67 ;
}
.selected{
    flex: 4;
}
.selected h4{
    font-size: 40px;
    transition:all 1s ease-in;
}
.selected .par{
    font-size: 25px;
    transition:all 2s ease-in;
}
.selected .price{
    font-size: 35px;
    transition:all 2s ease-in;
}
h4{
    font-size: 0;
}
.par{
    font-size: 0;
}
.price{
    font-size: 0;
}
h3{
    font-size: 30px;
    color:#4B5D67;
}
label{
    color:#4B5D67;
    font-weight: bold;
    
}
.text-input{
    background-color: #E9D5DA;
    border: none;
    padding: 12px 20px;
}
.btn{
    font-family: 'Sriracha', cursive;
    font-size: 30px;
    background-color: #AEDBCE;
    color:#4B5D67;
    font-weight: bold;
    flex: 1;
}




@media all and (max-width:500px){
    h1{
        font-size: 40px;
        text-align: center;
    }
    .selected .par{
        font-size: 15px;
    } 
    .selected h4{
        font-size:25px ;
    }
    .selected .price{
        font-size:20px ;
    }
 }  